h1{
    color: black;
    font-family: fantasy;
    background-color: peachpuff;
}

h2{
    color:coral;
    font-family: monospace;
}

h3{
    color: coral;
    font-family: fantasy;
    font-size: 30px;
}

p{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}

#menu{
    background-color: lightpink;
    font-size: 30px;
    padding-left: 500px;
    padding-bottom: 20px;
    font-family: Helvetica,cursive;
    font-weight: 800px;
}

#menu a:hover{
    background-color: deeppink;
}

.gallery img{
    width: 100%;
}

table{
    font-family: helvetica,sans-serif;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: peachpuff;
}

th{
    font-weight: 800;
    background-color: lightcoral;
    color: black;
}

